.centralizer {
    display: flex;
    justify-content: center;
}
.centralizer-page {
    display: grid;
    justify-content: center;
}

.align-table {
    text-align: center;
}
.margin {
    margin-right: 5rem;
}
.example-full-width {
    width: 100%;
}
.width {
    width: 26%;
}
mat-card {
    margin-bottom: 3rem;
}
.add {
    background-color: #148614;
    color: white;
}